@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import 'vars.scss';
@import 'zero.css';

body {
   position: relative;
   font-family: Montserrat,serif;
}
.container {
   margin: 0 auto;
   max-width: 1200px;
   padding: 0 20px;
}

h2 {
   font-size: 24px;
}

@import "./main/navbar.scss";
@import "./main/rand_words.scss";
@import "./main/add_words.scss";
@import "./main/dictionaries.scss";
